# MongoDB Settings
MONGODB_URL=mongodb://root:complexpassword@mongo:27017
DATABASE_NAME=assistant_ai
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=complexpassword
REDIS_URL=redis://redis:6379/0

MONGO_EXPRESS_ROOT_USER=admin
MONGO_EXPRESS_ROOT_PASSWORD=As&Ai!Software!

# App Settings
PROJECT_NAME="Assistant AI"
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis

# API Keys (Lütfen Kendi Key'lerinizi Girin)
OPENROUTER_API_KEY="your_openrouter_api_key_here"
RESEND_API_KEY="your_resend_api_key_here"
EMAILS_FROM_EMAIL="onboarding@resend.dev"
BACKEND_URL=http://localhost:8000

# Firebase Settings
FIREBASE_CREDENTIALS_PATH=firebase-credentials.json
